
/*-------------About Page-------------------*/

.two-column-wrapper{
	display:grid;
	grid-template-columns:1fr 1fr;
}
.profile-image-wrapper img{
	width:100%;
}
.profile-content-wrapper{
	padding:30px;
}
.profile-content-wrapper h2{
	color:lightseagreen;
}
/*-----X--------About Page----------X---------*/

/*---- Global Classes   ----*/
a{
	text-decoration:none;
	color:#3f4954;
}
ul{
	list-style-type:none;
}
/*-------------------X-------------- Global Classes   ------------------X----*/

/*------------------------------ Navigaton Bar ---------------------------------*/
.banner {
	overflow:hidden;
	height:0rem;
	min-height:10vh;
	padding:0 2rem;
	transition:height 1s ease-in-out;
}
.banner header {
	justify-content: space-between;
}
.banner .nav-item{
	display:flex;
	margin:0;
}
.banner .nav-item .nav-link{
	padding:1.6rem 1rem;
	font-size:1.1rem;
	position:relative;
}
/*----------------X-------------- Navigaton Bar --------------X-------------------*/

*{
	margin:0; 
	padding:0;
	box-sizing: border-box;
	font-family:'Poppins-Regular', sans-serif;
}
.banner{
	position:relative;
	height:150px;
	width:100%;
	background:#3f8ffc;
	display:flex;
	justify-content:center;
	align-items:center;
}
.banner header{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	padding:40px 100px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	z-index:100000;
}
.banner header .logo{
	color:#fff;
	font-size:40px;
	font-weight:700;
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:bold;
}
.services{
	background:#12222d;
	padding:100px;
	text-align:center;
}
.services h2{
	color:white;
}
.services p{
	color:white;
}
.services .container{
	width:100%;
	display:flex;
	align-items:center;
	flex-wrap:wrap;
	margin-top:60px;
	justify-content:space-between;
}
.services .container .serviceBx{
	background:#fff;
	width:350px;
	height:400px;
	display:flex;
	align-items:center;
	justify-content:center;
}
.services .container .serviceBx img{
	max-width:100px;
}
.services .container .serviceBx h2{
	letter-spacing:1px;
	font-size:20px;
	font-weight:500;
}
.testimonials{
	text-align:center;
	padding:100px;
	background:#12222d;
	position:relative;
}
.testimonials .container{
	margin-top:40px;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:space-between;
}
.testimonials .container .contentBx{
	background:#fff;
	padding:60px 50px;
	width:550px;
	display:flex;
	justify-content:center;
	text-align:left;
	align-items:center;
}
.testimonials .container .contentBx p{
	font-style:italic;
}
.testimonials .container .contentBx h3{
	width:100%;
	color:#3f8ffc;
	text-align:end;
	font-weight:500;
}
.footer{
	background:#162c3b;
	padding:20px 100px;
	display:flex;
	align-items:center;
	justify-content: space-between;
}
.footer ul{
	display:flex;
	justify-content:center;
	align-items:center;
}
.footer ul li{
	list-style:none;
}
.footer ul li a{
	text-decoration:none;
	display:inline-block;
	margin:0 10px;
}
.footer ul li a img{
	filter:invert(1);
	max-width:20px;
}
@media only screen and (max-width:750px)
{	
	
	.banner{
		padding:50px;
	}
	.banner header{
		padding:20px 50px;
	}
	.banner .content h2{
		font-size:36px;
	}
	.banner .content p{
		font-size:16px;
	}
	.about{
		flex-direction:column;
	}
	.about .contentBx,
	.about .imgBx{
		width:100%;
		padding:50px;
		min-height:400px;
		text-align:center;
	}
	.services{
		padding:50px;
	}
	.services .container{
		justify-content:center;
		margin-top:20px;
	}
	.services .container .serviceBx{
		margin:20px;
		width:300px;
		height:350px;
	}
	.technology{
		padding:50px;
		padding-top:300px;
		justify-content:center;
		flex-direction:column;
	}
	.technology .contentBx .heading{
		text-align:center;
	}
	.technology .imgBx{
		margin-top:40px;
		max-width:250px;
	}
	.client{
		padding:50px;
	}
	.client .imgBx{
		justify-content:center;
	}
	.testimonials{
		padding:50px;
	}
	.testimonials .contentBx{
		padding:60px 40px;
		max-width:550px;
		margin-bottom:40px;
	}
	.testimonials .contentBx:last-child{
		margin-bottom:9px;
	}
	.contact{
		padding:50px;
	}
	.footer{
		padding:50px;
		flex-direction:column-reverse;
		text-align:center;
	}
	.footer ul{
		margin-bottom:20px;
	}
	.footer p{
		font-size:26px;
	}
}