@font-face{
	font-family:"Poppins-Black";
	src:url(font/Poppins-Black.ttf) format("truetype")
	font-family:"Poppins-ThinItalic";
	src:url(font/Poppins-ThinItalic.ttf) format("truetype")
	font-family:"Poppins-Medium";
	src:url(font/Poppins-Medium.ttf) format("truetype")
	font-family:"Poppins-LightItalic";
	src:url(font/Poppins-LightItalic.ttf) format("truetype")
	font-family:"Poppins-Italic";
	src:url(font/Poppins-Italic.ttf) format("truetype")
	font-family:"Poppins-ExtraLightItalic";
	src:url(font/Poppins-ExtraLightItalic.ttf) format("truetype")
	font-family:"Poppins-Regular";
	src:url(font/Poppins-Regular.ttf) format("truetype")
	font-family:"Poppins-Light";
	src:url(font/Poppins-Light.ttf) format("truetype")
}
/*---- Global Classes   ----*/
a{
	text-decoration:none;
	color:#3f4954;
}
ul{
	list-style-type:none;
}
/*-------------------X-------------- Global Classes   ------------------X----*/

/*------------------------------ Navigaton Bar ---------------------------------*/
.banner {
	background-color:white;
	overflow:hidden;
	height:0rem;
	min-height:10vh;
	padding:0 2rem;
	transition:height 1s ease-in-out;
}

.banner header {
	justify-content: space-between;
}
.banner .nav-item{
	display:flex;
	margin:0;
}
.banner .nav-item .nav-link{
	padding:1.6rem 1rem;
	font-size:1.1rem;
	position:relative;
}
/*----------------X-------------- Navigaton Bar --------------X-------------------*/

*{
	margin:0; 
	padding:0;
	box-sizing: border-box;
	font-family:'Poppins-Regular', sans-serif;
}
.banner{
	position:relative;
	height:100vh;
	width:100%;
	background:#3475ca;
	display:flex;
	justify-content:center;
	align-items:center;
}
.banner img{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	object-fit:cover;
	opacity:0.25;
}
.banner .content{
	position:relative;
	max-width:750px;
	text-align:center;
}
.banner .content h2{
	color:#fff;
	font-size:60px;
}
.banner .content p{
	color:#fff;
	font-size:18px;
}
.banner header{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	padding:40px 100px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	z-index:100000;
}
.banner header .logo{
	color:#fff;
	font-size:40px;
	font-weight:700;
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:bold;
}
/*----------------About------------------------*/
.about{
	position:relative;
	width:100%;
	display:flex;
}
.about .contentBx{
	background:#162c3b;
	width:50%;
	padding:100px;
}
.heading{
	color:#fff;
	font-size:30px;
	font-weight:600;
	letter-spacing: 1px;
	margin-bottom:10px;
}
.text{
	color:#fff;
	letter-spacing:1px;
	font-size:16px;
	font-weight:300;
}
.about .imgBx{
	width:50%;
	background: url(img/window.jpg);
	background-size: cover;
	background-position:center;
}
.services{
	background:#12222d;
	padding:100px;
	text-align:center;
}
.services .container{
	width:100%;
	display:flex;
	align-items:center;
	flex-wrap:wrap;
	margin-top:60px;
	justify-content:space-between;
}
.services .container .serviceBx{
	background:#fff;
	width:350px;
	height:400px;
	display:flex;
	align-items:center;
	justify-content:center;
}
.services .container .serviceBx img{
	max-width:100px;
}
.services .container .serviceBx h2{
	letter-spacing:1px;
	font-size:20px;
	font-weight:500;
}
.technology{
	background:#3f8ffc;
	display:flex;
	width:100%;
	padding:100px;
	padding-top:300px;
	margin-top:-300px;
	align-items:center;
	justify-content:space-between;
}
.technology .contentBx{
	max-width:800px;
}
.technology .imgBx{
	max-width:250px;
}
.technology .imgBx img{
	max-width:100%;
}
.client{
	background:#162c3b;
	padding:100px;
	text-align:center;
}
.client .imgBx{
	display:flex;
	flex-wrap:wrap;
	margin-top:40px;
	align-items:center;
	justify-content: space-between;
}
.client .imgBx img{
	max-width:200px;
	margin:20px;
	opacity:0.25;
	cursor:pointer;
}
.client .imgBx img:hover{
	opacity:1;
}
.testimonials{
	text-align:center;
	padding:100px;
	background:#12222d;
	position:relative;
}
.testimonials .container{
	margin-top:40px;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:space-between;
}
.testimonials .container .contentBx{
	background:#fff;
	padding:60px 50px;
	width:550px;
	display:flex;
	justify-content:center;
	text-align:left;
	align-items:center;
}
.testimonials .container .contentBx p{
	font-style:italic;
}
.testimonials .container .contentBx h3{
	width:100%;
	color:#3f8ffc;
	text-align:end;
	font-weight:500;
}
.contact{
	padding:100px;
	text-align:center;
	background:#162c3b;
}
.imgBx2{
	background: url(img/bg2.jpg);
	background-position:center;
	background-size:cover;
	width:50%;
}
.redbg{
	background: url(img/red.jpg) !important;
	background-position:center;
	background-size:cover;
}
.form .inputBx{
	margin-bottom:40px;
}
.form .inputBx input{
	width:100%;
	background:transparent;
	color:#fff;
	outline:none;
	border:none;
	box-shadow:none;
	padding:10px 0;
	font-size:18px;
	font-weight:300;
	border-bottom:2px solid #fff;
}
.form .inputBx input::placeholder {
	color:#fff;
}
.form .inputBx textarea{
	width:100%;
	background:transparent;
	color:#fff;
	outline:none;
	border:none;
	box-shadow:none;
	padding:10px 0;
	font-size:18px;
	font-weight:300;
	min-height:150px;
	border-bottom:2px solid #fff;
}
.form .inputBx textarea::placeholder {
	color:#fff;
}
.form .inputBx input[type="submit"]{
	width:150px;
	background:#fff;
	color:#111;
	cursor:pointer;
	font-weight:400px;
}
.footer{
	background:#162c3b;
	padding:20px 100px;
	display:flex;
	align-items:center;
	justify-content: space-between;
}
.footer ul{
	display:flex;
	justify-content:center;
	align-items:center;
}
.footer ul li{
	list-style:none;
}
.footer ul li a{
	text-decoration:none;
	display:inline-block;
	margin:0 10px;
}
.footer ul li a img{
	filter:invert(1);
	max-width:20px;
}
@media only screen and (max-width:750px)
{	
	
	.banner{
		padding:50px;
	}
	.banner header{
		padding:20px 50px;
	}
	.banner .content h2{
		font-size:36px;
	}
	.banner .content p{
		font-size:16px;
	}
	.about{
		flex-direction:column;
	}
	.about .contentBx,
	.about .imgBx{
		width:100%;
		padding:50px;
		min-height:400px;
		text-align:center;
	}
	.services{
		padding:50px;
	}
	.services .container{
		justify-content:center;
		margin-top:20px;
	}
	.services .container .serviceBx{
		margin:20px;
		width:300px;
		height:350px;
	}
	.technology{
		padding:50px;
		padding-top:300px;
		justify-content:center;
		flex-direction:column;
	}
	.technology .contentBx .heading{
		text-align:center;
	}
	.technology .imgBx{
		margin-top:40px;
		max-width:250px;
	}
	.client{
		padding:50px;
	}
	.client .imgBx{
		justify-content:center;
	}
	.testimonials{
		padding:50px;
	}
	.testimonials .contentBx{
		padding:60px 40px;
		max-width:550px;
		margin-bottom:40px;
	}
	.testimonials .contentBx:last-child{
		margin-bottom:9px;
	}
	.contact{
		padding:50px;
	}
	.footer{
		padding:50px;
		flex-direction:column-reverse;
		text-align:center;
	}
	.footer ul{
		margin-bottom:20px;
	}
	.footer p{
		font-size:26px;
	}
}










